* {
   padding: 0;
   margin: 0;
   box-sizing: 0;
}

#kortti {
   min-height: 80vh;
   min-width: 40%;
   background-image: url('../Images/etusivu.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   border: 2px dotted blue;
}