* {
   padding: 0;
   margin: 0;
   box-sizing: 0;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
}

#kortti {
   position: relative;
   min-height: 80vh;
   min-width: 80vw;
   perspective: 5000px;
   transform: translateX(30%)
}

#cover {
   position: absolute;
   min-height: 100%;
   min-width: 40%;
   background-image: url("../Images/etusivu.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   transform-origin: left;
   z-index: 2;
}

#back {
   position: absolute;
   min-height: 100%;
   min-width: 40%;
   background-image: url("../Images/sisapuoli.jpg");
   object-fit: cover;
   background-position: right;
   background-size: 200%;
}

.hatchContainer {
   display: grid;
   grid-template-columns: repeat(auto-fill, 60px);
   grid-auto-rows: 40px;
   position: absolute;
   right: 10%;
   min-height: 80vh;
   min-width: 80vw;
   perspective: 5000px;
   z-index: 2;
   display: none;
}

.afterAnimation {
   background-image: url("../Images/leftside.png") !important;
   object-fit: cover;
   background-position: left;
   background-size: 200% auto;
}

.move {
   animation: moveCard 1s ease forwards;
}
.open {
   animation: openCard 2s ease forwards;
   margin-left: 20%;
}

@keyframes moveCard {
   0% {
      transform: translateX(0%);
   }
   100% {
      transform: translateX(50%);
   }
}

@keyframes openCard {
   0% {
      transform: rotateY(0deg);
   }
   100% {
      transform: rotateY(-180deg);
   }
}